
body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

.header {
	position: fixed;
	width: 100%;
	background-color: #14508a;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 70px;
	justify-content: space-between;
}
.header p {

}
.header ul {
	text-decoration: none;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-grow: 2;
	margin-left: -3px;
}
.header li {
	font-size: 16px;
	margin-left: 20px;
	font-weight: 400;
	letter-spacing: 0.35px;
	margin-top: 2px;
}
.menu .active {
	color: #0bd200;
}
.phone {
	font-size: 14px;
	padding-left: 28px;
	font-weight: 700;
	letter-spacing: -0.15px;
}
.header a {
	text-decoration: none;
	color: #ffffff;
}
.header .contact {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu-button {
	padding-left: 46px;
	margin-top: 2px;
}
.logo {
	margin-left: 53px;
	margin-bottom: 2px;
}
.contact {
	/*float: right;*/
	margin-right: 56px;

}
.contact p {
	font-size: 14px;
	margin-top: 16px;
	
}
.content {
	max-width: 1110px;
	margin: 0 auto;
}




.MenuMain {
	height: 900px;
	width: 280px;
	position: absolute;
	background-color: #fff;
	top: 70px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	padding-bottom: 30px;
	overflow: scroll;
}
.MenuMain::-webkit-scrollbar { width: 0; }
.MenuMain h3 {
	margin-left: 50px;
	font-size: 16px;
	margin-top: 35px;
	margin-bottom: 0px;
	overflow: hidden;

}
.MenuMain h4 {
	margin-left: 50px;
	font-size: 14px;
	font-weight: 400;

}
.subMenu {
	overflow: hidden;	
}
.subMenuInitial {
	max-height: 0px;
}
.subMenuHidden {
	overflow: hidden;
	/*animation: subMenuCloseAnimation 0.2s;*/
	max-height: 0px;
}
.subMenuShown {
	/*animation: subMenuOpenAnimation 0.2s;*/
}
@keyframes subMenuOpenAnimation {
	from {max-height: 0px;}
	to {max-height: 350px;}

}
@keyframes subMenuCloseAnimation {
	from {max-height: 350px;}
	to {max-height: 0px;}

}
.menuArrow {
	float: right;
	margin-right: 25px;
	margin-top: 5px;
}




.MenuRegistration {
	height: 920px;
	width: 350px;
	position: absolute;
	background-color: #fff;
	top: 70px;
	right: 0;
	-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}
.MenuRegistration .tabs {
	display: flex;
	flex-direction: row;
	height: 50px;
	justify-content: space-between;
}
.MenuRegistration .tabs div {
	display: flex;
	width: 100%;
	background-color: #bfbfbf;
}
.MenuRegistration .tabs div h3 {
	margin: auto;
}
.MenuRegistration .tabs div.activeTab {
	background-color: #ffffff;
}
.MenuRegistration form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.MenuField {
	height: 40px;
	margin-bottom: 20px;
}
.FieldSign {
	position: absolute;
}
.FieldSignInitional {
	font-size: 16px;
	margin-top: 35px;
}
.MenuFieldOnFocus {
	animation: FieldSignOnFocusAnimation 0.2s;
	margin-top: 15px; 
	font-size: 12px;

}
.FieldSignOutFocus {
	animation: FieldSignOutFocusAnimation 0.2s;
	margin-top: 35px; 
	font-size: 16px;
}

@keyframes FieldSignOnFocusAnimation {
	from {margin-top: 35px; font-size: 16px;}
	to {margin-top: 15px; font-size: 12px;}
}
@keyframes FieldSignOutFocusAnimation {
	from {margin-top: 15px; font-size: 12px;}
	to {margin-top: 35px; font-size: 16px;}	
}

.MenuField input {
	border: none;
	
	width: 270px;
	margin-top: 35px;
	font-size: 16px;
	user-select: none; 
 	outline: none;
}
input.FieldInitial {
	border-bottom: 1px solid black;
}
input.FieldCorrect {
	border-bottom: 1px solid #009e3f;
}
input.FieldError {
	border-bottom: 1px solid #ff5a4b;
}
.SignCorrect {
	color: #009e3f;	
}
.SignError {
	color: #ff5a4b;
}
.MenuRegistration .agreeBlock {
	width: 270px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 20px;
}
.MenuRegistration .agreeBlock input {
	height: 15px;
	width: 15px;
	margin-right: 10px;
	background: none;
}
.MenuRegistration .agreeBlock p {
	max-width: 250px;
	margin: 0;
	font-size: 12px;
	text-align: justify;

}
.RegistrationButton {
	width: 170px;
	height: 50px;
	display: flex;
	border-radius: 5px;
	background-color: #0bd200;
	margin-top: 20px;
	margin-bottom: 285px;
}
.RegistrationButton p {
	margin: auto;
	color: #ffffff;
	font-weight: 500;
}


.MenuLogin {
	height: 920px;
	width: 350px;
	position: absolute;
	background-color: #fff;
	top: 70px;
	right: 0;
	-webkit-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.75);
}
.MenuLogin .tabs {
	display: flex;
	flex-direction: row;
	height: 50px;
	justify-content: space-between;
}
.MenuLogin .tabs div {
	display: flex;
	width: 100%;
	background-color: #bfbfbf;
}
.MenuLogin .tabs div h3 {
	margin: auto;
}
.MenuLogin .tabs div.activeTab {
	background-color: #ffffff;
}
.MenuLogin form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.LoginButton {
	width: 170px;
	height: 50px;
	display: flex;
	border-radius: 5px;
	background-color: #0bd200;
	margin-top: 20px;
	margin-bottom: 285px;
}
.LoginButton p {
	margin: auto;
	color: #ffffff;
	font-weight: 500;
}






.main {
	
	background-image: url('./img/main-background.png');
	    background-position-y: -70px;

}
.main-block {
	padding-top: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.side-features {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	max-width: 125px;
	text-align: center;
	max-height: 500px;
	margin-top: 75px;
}
.side-feature {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#left-side-features {
	margin-left: 14.5%;
}
#right-side-features {
	margin-right: 14.5%; 
}
.slider {

	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 71px;
}
.slider h1 {
	font-size: 48px;
	color: #14508a;
	font-weight: 900;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}
.slider h2 {
	font-size: 24px;
	font-weight: 400;
	color: #14508a;
	text-transform: uppercase;
	margin-top: 10px;
}
.slider h3 {
	font-weight: 300;
	color: #333333;
	text-align: center;
	max-width: 740px;	
    margin-top: 0px;

}
.main-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 41px;

}
.main-feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main-feature p {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: 700;
}
.main-features {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 71px;
}

.rate {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.rates {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 70px;
	padding-top: 20px;
	padding-bottom: 25px;
	background-color: #888888;
}
.rate p {
	margin-top: 0;
	margin-bottom: 0;	
	font-weight: 500;
}
.rate-name {
	font-size: 16px;
	color: #fff;
}

.rate-value {
	font-size: 14px;
	color: #fff;
}





.double-block {
	display: flex;
	flex-direction: row;

}
.double-block h2 {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	margin-top: 65px;
	margin-bottom: 25px;
}
.left-block {
	background-color: #fff;
	width: 100%;
	background-image: url('./img/left-background.png');
	/*background-image: url('./img/right-background.png');*/
	background-position-x: -90px;
    background-repeat: no-repeat;
    /*background-position-y: 7px;*/
    flex-grow: 2;
    flex-basis: 2800px;


}
.right-block {
	background-color: #73c3ee;
	width: 100%;
	/*background-image: url('./img/right-background.png');*/
	background-repeat: no-repeat;
	background-position: right;
	
}
.experts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	float: right;
	margin-right: 180px;

}
.expert {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	max-width: 650px;
	margin-bottom: 20px; 
}
.data {
	display: flex;
	flex-direction: column;
}
.expert p {
	margin: 0;
}
.expert img {
	height: 22px;
	margin: 0 20px;

}
.experts h2 {
	color: #333333;
	margin-bottom: 10px;
}
.expert {
	margin-bottom: 30px;
}
.expert .date {
	color: #333333;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.expert .text {
	color: #333333;
	font-size: 16px;
	/*font-weight: 300;*/
}
.experts a {
	/*margin-top: 500px;*/
	font-size: 16px;
	margin-top: 35px;
	color: #333333;
	padding-bottom: 70px;
}
.expert p.date {
	
	font-weight: 700;
}
.timer p {
	font-size: 39px;
	color: #ffffff;
	margin: auto;
}
.timer {
	background-color: rgba(20, 80, 138, 0.5);
	border: 3px solid #ffffff;
	border-radius: 50px;
	height: 60px;
	width: 250px;
	display: flex;
	margin-top: 0px;
	margin-left: 55px;
}
.right-block-content {
	margin-left: 65px;
	max-width: 400px;

}
.news-name {
	margin-top: 50px;
	margin-left: 155px;
	margin-bottom: 10px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
}
.news {
	margin-top: 0;
}
.button-open {
	height: 50px;
	width: 170px;
	background-color: #ffd600;
	display: flex;
	margin-top: 50px;
	margin-left: 100px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
}	
.button-open p {
	color: #444445;
	font-weight: 700;
	font-size: 16px;
	margin: auto;

}





.predictions-block {
	padding-top: 65px;
	padding-bottom: 100px;
	background-color: #245b93;
}
.prediction-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1170px;
	/*background-color: #73c3ee;*/
	height: 35px;
	
	/*border-radius: 5px;*/
	align-items: center;
	margin-left: auto;
	margin-right: auto;

}
.prediction-header h2 {
	color: #ffffff;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 30px;
	font-size: 18px;

}
.prediction-header .date {
	color: #14508a;
	margin-right: 30px;


}

.predictions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.prediction {
	max-width: 250px;
}

.prediction p.date {
	font-size: 14px;
	font-weight: 400;
	margin-top: 50px;
	color: #44cb04;
}
.prediction h2 {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
}
.prediction p.prediction-text {
	color: #fff;
	font-size: 16px;
	margin-top: 30px;

}


.bottom-features {
	background-image: url('./img/features-background.png');
	background-repeat: no-repeat;
	background-position: top;
}
.bottom-features .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 50px;
}
.feature-block {
	background-color: #fdfdfd;
	border: 1px solid #14508a;
	border-radius: 5px;
	max-width: 350px;
	height: 405px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;	
	margin-bottom: 100px;
	overflow: hidden;
}
.feature-block img {
	margin: 0px;
	/*margin: 0px;
	width: 100%;*/
	margin-bottom: 0;
	margin-top: -10px;
}
.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feature h2{
	font-size: 18px;
	margin-bottom: 25px;

}
.feature a {
	text-decoration: none;
	color: #066ffd;
	font-size: 16px;
	font-weight: 500;
	/*margin-top: 25px;*/
	margin-top: 0px;
    margin-bottom: 10px;
}
.feature p {
	margin-left: 30px;
	margin-right: 30px;
}




.payments .line1 {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.payments .line2 {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 35px;
	margin-bottom: 95px;
}






.footer {
	background-image: url('./img/footer-background.png');
}

.footer .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.footer p {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 33px;
}
.footer a {
	color: #73c3ee;
	text-decoration: none;
}
.footer-right .links a {
	font-size: 16px;
	    line-height: 1.5;
}

.footer .links {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 48px;
	max-height: 130px;
	margin-bottom: 80px;
}
.footer-right {
	max-width: 635px;
}

.footer img {
	margin-top: 30px;
    margin-right: 15px;
}
.footer .warning {
	margin-bottom: 50px;
}

